@charset "utf-8";


/* common */
/* -------------------------------------------------------- */


/*
body {font:12px MS PGothic,Osaka,arial,helvetica,sans-serif; color:#333; text-align:center; background:url(../images/body_bg.gif) repeat-x left top;}
*/
body {color:#333; }
h1, h2, h3, h4, h5, h6, h7 {line-height:140%;}
p, ul, ol, dl, address, blockquote, table, div {line-height:160%;}
input, select, textarea, button, label {vertical-align:middle;}

ol {list-style-type:decimal; margin-left:2.2em;}


img {line-height:0; border:0; display:block;}
a img {display:inline; vertical-align:top;}


/* container */
/* -------------------------------------------------------- */
#container {width:960px; text-align:left; margin:0 auto 30px auto;}
body.wid #container {width:1060px;}


/* header */
/* -------------------------------------------------------- */
#header {width:960px; height:51px; margin:0 0 23px 0; position:relative;}

#hLogo {width:246px; position:absolute; top:6px; left:0; z-index:10;}

#hNav {color:#017fd6; position:absolute; top:26px; left:300px; z-index:5;}
#hNav li {padding:0 0 0 20px; float:left;}

#hUser {position:absolute; top:26px; right:0; z-index:1;}
#hUser span {font-size:10px;}


/* contents */
/* -------------------------------------------------------- */
#contents {border:solid 1px #ccc;}

.section {width:920px; margin:0 19px;}
body.wid .section {width:1020px;}


/* footer */
/* -------------------------------------------------------- */


/* clear */
/* -------------------------------------------------------- */
.cfix:after {content:" "; display:block; visibility:hidden; clear:both; height:0.1px; font-size:0.1em; line-height:0;}
.cfix {display:inline-block;}
/* no ie mac \*/
* html .cfix {height:1%;}
.cfix {display:block;}
/* */
