@model List<CategoryItem>

<div class="category-grid">
    @foreach (var category in Model)
    {
        <div class="category-item">
            @if (category.IsHeader)
            {
                <h3>@category.Title</h3>
            }
            else
            {
                <a href="@category.Url">@category.Title</a>
            }
        </div>
    }
</div>
