@charset "utf-8";

/* Header Area
========== ========== ========== */
div#HeaderArea {
    z-index: 4;
    position: fixed;
    width: 980px;
    height: 57px;
    _height: 65px;
    top: 0px;
    /* border-bottom: 3px solid #548A0F;*/
    border-bottom: 3px solid #004F69;
    background-color: White;
}

.non-scroll div#HeaderArea {
    position: relative;
}

div#HeaderContents {
    z-index: 10;
    _width: 100%;
    _position: relative;
}

div#HeaderSearch {
    position: absolute;
    top: 25px;
    right: 2px;
    height: 26px;
}

p#HeaderLogin {
    position: fixed;
    top: 13px;
    right: 0;
    font-size: 12px;
}

div#HeaderSearch .search {
}

    div#HeaderSearch .search .textfield {
        width: 150px;
        height: 25px;
        padding: 0 3px;
        border: 1px solid #CCCCCC;
        font-size: 12px;
        line-height: 25px;
    }

    div#HeaderSearch .search p {
        display: inline;
        padding: 0 0 0 5px;
    }


div#HeaderSearch select {
    width: 125px;
    border: 1px solid #CCCCCC;
    font-size: 12px;
    padding: 3px;
}

div#HeaderSearch .btn {
    vertical-align: bottom;
}


div#HeaderSearch p a {
    font-size: 10px;
    line-height: 1.5;
    color: #FFFFFF;
}

div#HeaderLink {
    position: absolute;
    top: 6px;
    right: 6px;
}

    div#HeaderLink ul {
        float: left;
        list-style: none;
        background: #323232;
        text-align: left;
        width: 250px;
        position: relative;
    }


    div#HeaderLink ul li {   
        float: left; 
        margin: 0 4px 0 0;
        padding: 0 4px 0 0; 
        display: inline;
        /*background: url("../images/header_line02.png") no-repeat top right;*/
    }

    div#HeaderLink li {
        width: 100%;
        padding: 0px;
    }


    div#HeaderLink ul li a {
        font-size: 12px;
        line-height: 1.5;
        color: lightgray;
        /*font-weight: bold;*/
    }

        /*div#HeaderLink ul li a:link {
            text-decoration: none;
        }

        div#HeaderLink ul li a:visited {
            text-decoration: none;
        }

        div#HeaderLink ul li a:hover {
            text-decoration: none;
        }

        div#HeaderLink ul li a:active {
            text-decoration: none;
        }*/

div#HeaderUtility {
    position: absolute;
    top: 30px;
    right: 360px;
    display: none;
}

    div#HeaderUtility .utility1 {
        padding: 2px 0 0 7px;
        background-color: #FFFFFF;
    }

div#HeaderUtility2 {
    position: absolute;
    top: 71px;
    left: 755px;
}

    div#HeaderUtility dl,
    div#HeaderUtility2 dl {
        float: left;
    }

    div#HeaderUtility dt,
    div#HeaderUtility2 dt {
        float: left;
    }

    div#HeaderUtility .utility2 dt,
    div#HeaderUtility .utility3 dt,
    div#HeaderUtility .utility4 dt,
    div#HeaderUtility2 .utility2 dt,
    div#HeaderUtility2 .utility3 dt,
    div#HeaderUtility2 .utility4 dt {
        display: none;
    }

    div#HeaderUtility dd,
    div#HeaderUtility2 dd {
        float: left;
        margin: 0 5px 0 0;
        padding: 0 5px 0 0;
        display: inline;
    }

    div#HeaderUtility .utility3 dd,
    div#HeaderUtility2 .utility3 dd {
        margin: 0 10px 0 0;
    }

    div#HeaderUtility .utility4 dd,
    div#HeaderUtility2 .utility4 dd {
        margin: 0;
        padding: 0;
        background: none;
        font-size: 14px;
        line-height: 20px;
        color: #999999;
    }

    div#HeaderUtility dd ul,
    div#HeaderUtility2 dd ul {
        float: left;
        list-style: none;
    }

        div#HeaderUtility dd ul li,
        div#HeaderUtility2 dd ul li {
            float: left;
            padding: 0 3px 0 0;
            display: inline;
        }

    div#HeaderUtility .utility3 dd ul li,
    div#HeaderUtility2 .utility3 dd ul li {
        padding: 0 2px 0 0;
    }

    div#HeaderUtility dd label,
    div#HeaderUtility2 dd label {
        cursor: pointer;
    }


/*JPOC-236 Update top nav menu*/
div#HeaderLink img {
    cursor: pointer;
    display: inline;
}

div#HeaderSearch {
    position: absolute;
    top: 16px;
    left: 250px;
    right: 2px;
    height: inherit;
    display: block;
}

div#HeaderLink {
    display: inline-block;
    transform: translateY(50%);
    z-index:2;
}
#adminMenu-nav, #userMenu-nav, #AnnouncementMenu-nav, #welcome-nav {
    position: absolute;
    display: none;
    right: -6px;
}


.jpoc-nav ul {
    position: relative;
    display: block;
    color: white;
    background-color: #323232;
}
#adminmenu.jpoc-nav ul li:hover {
    color:#e9711c;
}
.jpoc-nav a{
    display: block;
}
.jpoc-nav a, .jpoc-nav a span{
    text-decoration: none !important;
}

.jpoc-nav a:hover, .jpoc-nav a:hover span{
   color:#e9711c !important;
   text-decoration: underline;
}

.jpoc-nav ul li ul li{
    background-color:#323232;
    transition: all 0.2s ease;
}

.mainMenu {
    max-width: 250px;
    /*max-height: 750px;*/
    overflow-x: hidden;
}
.jpoc-nav-header, #userMenu-nav .jpoc-nav-header{
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px 15px;
}
.jpoc-nav-userinfo{
    text-align: center; 
    font-size: 106%;
}
#userMenu-nav.jpoc-nav li div{
    text-align: right;
    display: inline;
    margin: 4px 0;
}
#userMenu-nav.jpoc-nav li{
    padding: 2px 15px;
    box-sizing: border-box;
}

.notificationBadge {
    left: 12px;
    position: absolute;
    top: 0px;
    padding: 5px;
    border-radius: 50%;
    background: red;
    color: white;
    display:none;
}

#NotificationDiv {
    position: absolute;
    left: -10px;
    top: -4px;
    color: red;
}

/*For navigation bar's menu*/
div.MainMenuItem {
    padding: 5px 15px;
}

span.mainMenuLabel {
    top: 10px;
    left: 21px;
    font-size: 110%;
    cursor: pointer;
}

span.mainMenuLabel a {
    color: black
}

div.ssosSub,
div.ssosInner {
    padding: 2px;
    padding-left: 25px;
    text-indent: -10px;
    font-size: 100%;
    margin: 3px 10px;
    cursor: pointer;
}

div.ssosSubInner {
    padding: 2px 3px;
    padding-left: 35px;
    font-size: 100%;
    cursor: pointer;
    /*text-indent: -12px;*/
    /*margin: 3px 10px;*/
}

span.ssosiconSub,
span.ssosiconInner {
    color: lightgray;
    font-weight: bold;
}

.jpoc-master-subcontents #HeaderArea{
    position:relative;
}
.jpoc-nav-acc-menu li:first-of-type{
    color: #fff;
    text-align: center;
    font-size: 15px;
}