@charset "utf-8";

/*CSS retrieved from mockup html*/
#ttl_area{
    position: fixed;
    background-color:White;
    padding-top:5px;
    z-index:3;
    top:59px;
    border-bottom: 1px solid #dcdcdc;
  	width: 1150px;
}

div#MainContentsResultMain h4 {
    border: 1px solid #CCCCCC;
    background-color: #f8f8f8;
}


.Evid{margin-left: 20px;}
.SubSection{margin-left: 20px;}
div#MainContents05 h5 {margin-left:20px;}
ul.Note {margin-left:20px;}
div#MainContents05 .image {width:98%}
div#MainContents05 .sectionSummary05 {margin-left:20px}

div#SubArea {width: 280px; margin-top: 40px;}
div#MainArea{
    float: right;
    width: 100%;
    margin-left: -280px !important;
}
div#WrapperArea {
    width: 100% !important;
    margin-top: 70px;
}
div#MainContentsResult, div#FooterArea {
    width: auto;
    margin-left: 280px;
}
.titlebar {
  width: auto; 
  min-height:34px;
    background-color:white;
    color: #333;
    font-size: 20px;
}
.titlerow {
  width: auto; 
}

div.divRef01 {
    margin-bottom:5px;
    background-color: #f5f5f5;
    border:1px solid #a0a0a0
}
    div.divRef01 ol.olClass3 li.listIndentLevel-01 {
        /*margin-left: 0!important;
    padding-left: 0;*/
        margin-left: 10px !important;
    }
div.divRef01 ol.olClass3 li.listIndentLevel-02 {
    margin-left: 20px!important;
    padding-left: 0;
}

.SubSection {
    margin-left: 0;
}

div#MainContents05 .SubSection .sectionSummary {
    margin-left: 20px;
}

div#HeaderArea {
  border-bottom: 1px solid #dcdcdc; height: 59px;
}

ol.olClass3 li.listIndentLevel-01 {
    font-size: 85%;
    line-height: 1.8;
}
ol.olClass3 li.listIndentLevel-02 {
    font-size: 85%;
    line-height: 1.8;
}
ol.olClass3 li.listIndentLevel-03 {
    font-size: 85%;
    line-height: 1.8;
}

#phClinicalKey-placeholder h4, .CASESEARCH_BOX h4 {
    border: 1px solid #CCCCCC;
    background-color: #f8f8f8;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}

.CASESEARCH_BOX .extlink2 {
    border: 1px solid rgb(204, 204, 204);
    padding: 12px;
    font-size: 14px;
    margin: 0 0 30px 0;

}

/*CSS retrieved from mockup html*/

/*CSS override for onepage structure*/
a.author_introducation, a.author_introducation:visited, a.author_introducation:link{
    color:inherit;
}

.author-listing ul li{
    list-style-type: none;
}

.MainContentsBox h4{
    border: 1px solid #CCCCCC;
    background-color: #f8f8f8;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}
.left_menu a.active-item{
    text-decoration: none;
    margin-left: -30px;
    padding-left: 26px;
    font-weight: bold;
    border-left: 4px solid darkblue;
}

.COIBox-OnePageStructure {
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
}

.onepagestructure-container #MainContents05{
    margin-top: 10px
}
.leftMenuItem{
    padding-top: 8px;
}
.leftMenuItem > ul > li > a.active-item,
.leftMenuItem > ul > li > span.active-item{
    text-decoration: none;
    margin-left: -15px;
    padding-left: 11px;
    font-weight: bold;
    border-left: 4px solid darkblue;
}

.content-container-onepagestructure{
    margin: 15px 0 15px 0;
}

.ck_search_box{
    border: 1px solid rgb(204,204,204);
}

div#SubArea div.left_menu 
{
    width:280px; 
}
.hidden{
  display: none;
}
.popover-dismiss-yakuri{
  float:right;
  cursor: pointer;
  display: none;
}
.left_menu{
    max-height: none !important;
}
.left_menu .content{
    /*height: 82vh !important;*/
}

.bs-popover-yakuri-popover{
  margin: 5px 10px 0 0;
}
/*CSS override for onepage structure*/

/*Bootstrap popover*/
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 530px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
/*Bootstrap popover*/


/*Custom CSS for onepage structure*/
.onepage-embed img{
  cursor:pointer;
  vertical-align:top;
  display:inherit;
}
.onepage-embed .code{
  position:relative; 
  top:0px; 
  left:-10px; 
  color:white;
}
.popover-title a{
  text-decoration: none;
}
#MainContents01{
  position: relative;
  zoom: 1;
  margin-top:0;
}
.onepagestructure-author{
  font-size: 14px;
  margin-left: 16px;
  margin-bottom: 10px;
}
.onepagestructure-print div#wrapper{
  width:960px;
}
.onepagestructure-print #ttl_area{
  top:0;
  width:700px;
  position:relative;
}
.onepagestructure-print #MainContents01{
  margin-top:10px;
}
.onepagestructure-print#SubArea{
    margin-top:0;
    font-size:14px;
    width:190px;
}
div.aligned_guideline div{
    margin-left:20px;
}
.onepagestructure-print .leftMenuItem{
    overflow-y:hidden;
}
.onepagestructure-print .left_menu{
    page-break-inside:avoid;
    margin-top:5px;
    height:1300px;
}
.onepagestructure-print#MainArea{
    margin-left: -198px !important;
}
.onepagestructure-print .onepagestructure-container#MainContentsResult{
    margin-left: 198px !important;
    margin-right: 130px !important;
}
.onepagestructure-print .content{
  width:190px !important;
}
.onepagestructure-print #MainContentsResultMain{
  width:650px;
}
.onepage-note-full{
  display:none;
}
.enqueteMiniBox{
  z-index:initial;
}
.srcontent{
  border: 2px solid #a0a0a0;
  padding: 8px;
}
#MainContents01 h5{
    margin: 0 0 10px 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 5px;
}
div#MainContentsResultMain{
  min-height: 0;
}
#MainContents04{
  margin-top: 10px;
}
.anchor-prescription {
    position: relative;
    
     padding-top: 120px; 
     margin-top: -120px;
  /*padding-top:140px;
  margin-top:-140px;*/
}
/*Custom CSS for onepage structure*/
