@charset "utf-8";





/* F. Sub Contents
========== ========== ========== */
/* F-1. dl style
---------- ---------- */
div#SubContents dl {
	margin: 18px 17px 0;
}
div#SubContents dl dd ul li {
	list-style: none;
width: 100%;
}
div#SubContents dl dd ul li a {
	margin-right: -13px;
	margin-left: -13px;
	padding-right: 13px;
	padding-left: 13px;
	display: block;
zoom:1;
}
div#SubContents dl dd ul li a:link ,
div#SubContents dl dd ul li a:visited {
	text-decoration: none;
}
div#SubContents dl dd ul li a:hover ,
div#SubContents dl dd ul li a:focus {
	background-color: #e2efd3;
	text-decoration: underline;
}





/* F-1. Section
---------- ---------- */
div#SubContents div.Section 
{
    background: url("../../common/images/sub_bg_section.png") repeat-x scroll 0 0 transparent;
    border:1px solid #CCCCCC;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
    padding: 10px 16px;
}
/* Title */
div#SubContents div.Section p.Title {
	margin: 0;
	color: #7eac37;
}
/* List */
div#SubContents div.Section dl {
	margin: 18px 0 0;
}
div#SubContents div.Section dl.Separator {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #ccc;
}
div#SubContents div.Section dl dt {
}
div#SubContents div.Section dl dd {
}
div#SubContents div.Section dl dd ul {
}
div#SubContents div.Section dl dd ul li {
	position: relative;
	list-style: none;
}
div#SubContents div.Section dl dd ul li a {
	margin-right: -13px;
	margin-left: -13px;
	padding-right: 26px;
	padding-left: 13px;
	display: block;
}
div#SubContents div.Section dl dd ul li a:link ,
div#SubContents div.Section dl dd ul li a:visited {
	text-decoration: none;
}
div#SubContents div.Section dl dd ul li a:hover ,
div#SubContents div.Section dl dd ul li a:focus {
	background-color: #e2efd3;
	text-decoration: underline;
}
/* Icon Link */
div#SubContents div.Section dl dd ul li a.Icon {
	margin: 0 0 0 5px;
	padding: 0;
	border: solid 1px white;
	position: absolute;
	top: 0.25em;
	right: -13px;
}
div#SubContents div.Section dl dd ul li a.Icon:hover {
	border-color: blue;
}
div#SubContents div.Section dl dd ul li a.Icon img {
}
/* Check Box */
div#SubContents div.Section dl dd ul.Checkbox {
	
}
div#SubContents div.Section dl dd ul.Checkbox li label {
	margin-right: -13px;
	margin-left: -13px;
	padding-right: 13px;
	padding-left: 30px;
	display: block;
	position: relative;
zoom:1;
}
div#SubContents div.Section dl dd ul.Checkbox li label:hover {
	background-color: #e2efd3;
}
div#SubContents div.Section dl dd ul.Checkbox li label input {
	position: absolute;
	top: 0.25em;
	left: 13px;
	zoom:1;
}
*:first-child+html div#SubContents div.Section dl dd ul.Checkbox li label input {
	top: 0;
	left: 8px; /* 13px - 5px */
}
* html div#SubContents div.Section dl dd ul.Checkbox li label input {
	top: 0;
	left: 8px; /* 13px - 5px */
}
div#SubContents div.Section dl dd ul.Checkbox li ul {
	margin-left: 18px;
}
div#SubContents div.Section dl dd ul.Checkbox li ul.Inactive li {
	color: #bbb;
	background-color: #eee;
}
div#SubContents div.Section dl dd ul.Checkbox li ul.Inactive li label:hover {
	background-color: transparent;
}





/* F-1. Flat List
---------- ---------- */
div#SubContents ul.Flat:after {
	display: block;
	clear: both;
	height: 0.1px;
	line-height: 0;
	visibility: hidden;
	content: ".";
	font-size: 0.1em;
	overflow: hidden;
}
div#SubContents ul.Flat {
	margin-left: 0;
	width: 100%;
}
div#SubContents ul.Flat li {
	margin: 0 20px 0 0;
	float: left;
	white-space: nowrap;
	list-style: none;
}
div#SubContents ul.Flat li a:hover ,
div#SubContents ul.Flat li a:focus {
	margin: 0;
	padding: 0;
	background-color: transparent;
}


















