
#spLinkBlockInPc {
    width: 100%;
    height: 70px;
    background-color: Black;
    color: White;
    font-size: 50px;
    display: none;
    text-align: center;
}

#anchorToSpInPc {
    color: white;
    text-decoration: none;
}

div.top_image img {
    /*width:389px!important;*/
    height: inherit !important;
}

a.helpmenu {
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    color: #004F69;
}

    a.helpmenu:hover {
        text-decoration: underline;
    }


.mainlogo {
    margin-left: 10px;
    margin-bottom: 3px;
}

/*
                styles for JPOC-156 medical calculator relocate, from medical calculator.aspx
                */

h1 {
    border-bottom: 2px solid #004F69;
    line-height: 37px;
}

.tvMenu1 {
    vertical-align: top;
    width: 249px;
    max-width: 249px;
    min-width: 249px;
}

.menu_link_table {
}

.menu_link_row {
    line-height: 20px;
}

.suffix_mark {
    text-decoration: none;
}

.prefix_mark_cell {
    width: 10px;
    vertical-align: top;
}

.title_cell {
    vertical-align: top;
}

.prefix_icon_main {
    margin-top: 7px;
}

.prefix_icon_sub {
    margin-top: 7px;
}

.manu_link {
}

.suffix_mark {
}

/*div#ctl00_BodyPlaceHolder_tvMenu1 > div > table td {
            text-indent: -16px;
            padding-left: 10px;
        }

        div#ctl00_BodyPlaceHolder_tvMenu2 > div > table td {
            text-indent: -16px;
            padding-left: 10px;
        }

        div#ctl00_BodyPlaceHolder_tvMenu3 > div > table td {
            text-indent: -16px;
            padding-left: 10px;
        }*/

/*
                styles for JPOC-156 search page layout update
                */
/*.nav > li.active > a, .nav > li.active > a:focus, .nav > li.active > a:hover {
            border-top: 4px solid #ff8200;
        }*/

.ddlSearchTerm {
    padding: 5px 0;
    height: 30px;
    width: 125px;
    background: url(../jpoc/common/images/dropdown.png) no-repeat right 8px #fff;
    -webkit-appearance: textfield;
    padding-left: 3px;
    background-position: right 5px center;
    border: 1px solid #ddd;
    border-radius: 0;
}

.hoken-entry {
    text-align: left;
}

.hoken-category-title {
    padding-top: 10px;
}

.nav > li > a {
    border-radius: 0;
    /*width:150px;*/
}

.jpoc-navtab-container {
    display: block;
    width: 100%;
}

    .jpoc-navtab-container .nav > li > a {
        padding: 4px 15px;
        font-weight: bold;
    }

.jpoc-navtab-list {
    display: table;
    width: 100%;
}

    .jpoc-navtab-list li {
        display: table-cell;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        *float: left;
    }

        .jpoc-navtab-list li.active {
            /*border: 1px solid #ddd;
                    border-bottom: none;
                    border-bottom-color: transparent;
                    border-top: 4px solid #ff8200;*/
            border-bottom: none;
        }

            .jpoc-navtab-list li.active div.active-top {
                border-top: 4px solid #ff8200;
            }

            .jpoc-navtab-list li.active div.active-content {
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;
                height: 26px;
                /*border:outset ;*/
            }


.panel-default {
    border-top: none;
}

.jpoc-navtab-list a {
    display: block;
    /*margin: 0 5px;*/
}

.panel-iframe-calculator {
    display: table;
    width: 100%;
    height: 450px;
}

.tbl-calculator {
    width: 100%;
    text-align: left;
}

.tab-content .panel {
    border-radius: 0;
}

.jpoc-page-search #HeaderLink {
    position: relative;
    top: -50%;
    float: right;
}

::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.tablinks :hover, .tablinks a {
    text-decoration: none;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {

        .tab-content {
            padding-left: 1px;
            padding-right: 2px;
        }
    }
}
